<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<div  class="content" th:fragment="content">>

    <p> <a href="/">Apogee </a></p>
    <nav>

        <ul>
            <li> <a href="/etudiants"> Etudiants </a></li>
            <li> <a href="/professeurs"> Professeurs </a></li>
            <li> <a href="modules"> Modules </a></li>
            <li> <a href="notes"> Notes </a></li>


        </ul>
    </nav>
</div>





        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="">Acceuil </a></li>
                <li><a href="">Faculté</a></li>
                <li><a href="">Formation </a></li>
                <li><a href="">Espace-Etudiant</a></li>
                <li><a href="">Département </a></li>
                <li><a href="">Contact </a></li>


            </ul>
        </div>
    </nav>
</html>